
  
  @font-face {
    font-family: 'calibri';
    src: url(../Fonts/calibri.ttf);
  }
  @font-face {
    font-family: 'Inter-Bold';
    src: url(../Fonts/Inter-Bold.ttf);
  }
  @font-face {
    font-family: 'Inter-Regular';
    src: url(../Fonts/Inter-Regular.ttf);
  }
  @font-face {
    font-family: 'msyi';
    src: url(../Fonts/msyi.ttf);
  }
 