/*servicios*/

.serv-title{
  margin-bottom: 20px;
  margin-left: 5rem;
  background-color: #89D316;
  color: white;
  text-align: center;
  border-radius: 1rem;
  font-size: 32px;
  padding: 15px 4px;
  font-weight: bold;
}
.servicio-content{
  max-width:800px;
  margin: auto;
  padding-bottom: 50px;
  justify-content: center;
}
.serv-card{
  margin-left: 10rem;
  margin-bottom: 20px;
  width:100%;
  height: 120px;
  transition: all 300ms;
}
.serv-item{
  display: flex;
  height: 120px;
}

.serv-info{
  width: 400px;
  margin-left: -400px;
  color: white;
  background-color: #9869B7;
  border-radius:15px;
  transition: all 400ms cubic-bezier(0.5,0,0,1);
}
.serv-card:hover .serv-info{
  margin-left: 0px;
}

.serv-img{
  width: 400px;
  background: white;
  border-radius:15px;
  color: #653B7B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:25px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  transition: all 400ms cubic-bezier(0.5,0,0,1);
}
.serv-item:hover .serv-img{
  margin-left: -80px;
}
.serv-img img{
  margin-left: 8px;
  width: 50px;
  height: 50px;
}

.serv-info p{
  margin-left: 3rem;
  font-size: 25px;
  margin-bottom: 1px;
}
.serv-info ul{
  margin-left: 3rem;
  align-items: center;
  font-size:12px;
  justify-content: center;
  margin-bottom: 1px;
}
.serv-info a{
  margin-left: 4rem;
  color:white;
  font-weight: bold;
  font-size: 12px;
}
#save{
  padding: 0.5rem 1.5rem;
  margin-left:8rem;
  font-weight: 700;
  font-size:1rem;
}
.form-control::placeholder{
  color:#653B7B;
}